body{
    margin: 0;
}
main{
    margin-left:20px;
    margin-right:20px;
}
h1{
    text-align: center;
    font-size:50px;
    color: white;
}
.navBar ul{
    display: flex;
    justify-content: center;
    top: 50%;
    list-style-type: none;
    background-color:hsl(214, 42%, 34%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    align-items: center;
    height: 100px;
}

.navBar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    top: 50%;
    height: 100px;
    line-height: 75px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.navBar a:hover{
    background-color: hsl(214, 39%, 56%);
}

.navBar li{
    height: 100%;
    float:left

}

body {
    background-color: hsl(214, 29%, 22%);
}
embed{
    width: 90%;
    height: 75%;
    text-decoration: none;
    font-size: 100px;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
.infoItem{
    height:80%;
    margin-left: 1em;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  .infoContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .infoParagraph{
    margin-right: 10em;
    margin-left: 1em;
  }
  .sectionTitle{
    margin-left: 1em;
  }
  .navFooter li{
    height: 100%;
    float: right
  }
  .navFooter ul{
    display: flex;
    justify-content: center;
    top: 50%;
    list-style-type: none;
    background-color:hsl(214, 42%, 34%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    align-items: center;
    height: 100px;
}

.navFooter a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    top: 50%;
    height: 100px;
    line-height: 75px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.navFooter a:hover{
    background-color: hsl(214, 39%, 56%);
}

div{
    margin-bottom: 1em;
}
.sectionTitle{
    font-size:50px;
    font-family: Brush Script MT, cursive;
    margin-top: 1em;
    margin-left: 1em;
}
.subSectionTitle{
    font-size:35px;
    font-family: Brush Script MT, cursive;
    margin-top: 1em;
    margin-left: 1em;
}
.imageItem{
    margin: 1em;
    height: 50%;
    width:50%;
}
.bulletedList li{
    margin-right: 10em;
    margin-left: 1em;
}
.quizApp {
    background-color: white;
    width: 80%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quizApp h1 {
    font-size: 30px;
    color: black;
    font-weight: 600;
    border-bottom: 3px solid rgb(35, 35, 109);
    padding-bottom: 30px;
}
.quizApp {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

.answerButton {
    background: white;
    color: black;
    font-size: 25px;
    font-weight: 500;
    width: 50%;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
    scroll-padding: 10px;
    margin: 10px;
    text-align: left;
    cursor: pointer
}

.answerButton:hover:not([disabled]) {
    background: rgb(197, 197, 255);
}
.anextQuestionButton:hover:not([disabled]) {
    background: rgb(129, 129, 255);
}
.answerButton:disabled {
    cursor: no-drop;
}

#quizNextButton {
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}

.correct {
    background: rgb(169, 255, 169);
}

.incorrect {
    background: rgb(255, 170, 170);
}